@charset "utf-8";
/* CSS Document */
.main_wrapper {width:100%;background-color:cornsilk;}
.top_area {width:100%;background-color:dodgerblue;margin:5px;}
.top_area_img {display:block;width:60%;height:auto;margin:0 auto;padding:10px}
.body_wrapper {width:100%;background-color:orange;}
h1 {font-family: 'Architects Daughter', cursive;}
p {font-family: 'Architects Daughter', cursive;}
.footer {width:100%;background-color:darkslateblue;}

/* Nav CSS Start */ /* From https://codepen.io/Tmoore52/pen/RPBwpJ */
/* General Styling */
/** {box-sizing: border-box;}
body {background-color:#131313;color:white;margin:0 auto;font-family: "Roboto", sans-serif;}
.nav_wrapper {width:90%;margin:auto;}
a {text-decoration:none;}*/

/* Nav Bar Styling */
/*.logo {font-size: 3em;margin-left:25px;color:white;}
.top-bar::after {content: '';display:block;background:#494949;height:5px;border-top-left-radius:3px;border-top-right-radius:3px;}
.second-bar {width:100%;border-radius:10px;}
.main-nav a {float:left;width:20%;background:#343434;}
.main-nav>a:first-child {border-bottom-left-radius: 3px;}
.main-nav>a:last-child {border-bottom-right-radius: 3px;}
nav a {color:inherit;display:inline-block;padding: 17px 25px;text-align:center;}
a.home:hover,a.home:active {background:#a62a2a;}
a.portfolio:hover,a.portfolio:active {background:#ff2400;}
a.blog:hover,a.blog:active {background:#7f00ff;}
a.cv:hover,a.cv:active {background:#002859;}
a.contact:hover,a.contact:active {background:#238e23;}*/

/* More Nav Bar Styling *//*From https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar*/
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.portfolio_dropdown {
  float: left;
  overflow: hidden;
}

.portfolio_dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .portfolio_dropdown:hover .dropbtn {
  background-color: red;
}

.portfolio_dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.portfolio_dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.portfolio_dropdown-content a:hover {
  background-color: #ddd;
}

portfolio_dropdown:hover .portfolio_dropdown-content {
  display: block;
}

/* Content */
.content-wrapper {background:#c0d9d9;width:100%;display:inline-block;height:1000px;border-radius:3px;}
.content {width:90%;padding:15px;color:#343434;background:white;height:auto;margin:35px auto 15px; border-radius:3px;}
.articleName {font-size: 2em;margin: 0 0 15px;}
.articleName a {color: #343434;}
.articleName a:hover {color:#1822a5;}
.author {font-size: 1.3em;color:grey;}
.author a {color:grey;}
.author a:hover {color:black;}
.content>p:nth-child(2) {text-indent: 2em;}

/* Nav CSS End */